@font-face {
    font-family: 'Graphik LCG';
    src: url('../font/GraphikLCG-Regular.eot');
    src: local('Graphik LCG Regular'), local('GraphikLCG-Regular'),
        url('../font/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/GraphikLCG-Regular.woff2') format('woff2'),
        url('../font/GraphikLCG-Regular.woff') format('woff'),
        url('../font/GraphikLCG-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Graphik LCG';
    src: url('../font/GraphikLCG-Light.eot');
    src: local('Graphik LCG Light'), local('GraphikLCG-Light'),
        url('../font/GraphikLCG-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/GraphikLCG-Light.woff2') format('woff2'),
        url('../font/GraphikLCG-Light.woff') format('woff'),
        url('../font/GraphikLCG-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../font/GraphikLCG-Semibold.eot');
    src: local('Graphik LCG Semibold'), local('GraphikLCG-Semibold'),
        url('../font/GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../font/GraphikLCG-Semibold.woff2') format('woff2'),
        url('../font/GraphikLCG-Semibold.woff') format('woff'),
        url('../font/GraphikLCG-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

