.slider{
    position: relative;
    padding: 0px 64px;
}
@media(max-width: 768px) {
    .slider{
        padding:0;
    }
    }
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;

}
/* Лента слайдов */
.slick-track{
    display: flex;
}
/* Стрелка */
.slick-arrow{
    position: absolute;
    top: 50%;
    margin: -32px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 32px;
    height: 32px;
    border: 0;
}
/* Стрелка влево */
.slick-arrow.slick-prev{
    left:0;
    background:url('../img/comments/fi-sr-angle-left.svg') 0 0 /100% no-repeat;
}
/* Стрелка вправо */
.slick-arrow.slick-next{
    right: 0;
    background:url('../img/comments/fi-sr-angle-right.svg') 0 0 /100% no-repeat;
}
/* Точки (булиты) */
.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-dots li{
    list-style: none;
}
.slick-dots li:not(:first-child){
    margin-left:17px ;
}
/* Активная точка */
.slick-dots li.slick-active button{
    background-color:#2A6CEA;
}
/* Элемент точки */
.slick-dots button{
    font-size: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 0;
    background-color: #C2C8CD;
}